body{
  font-family: "Montserrat";
  font-weight: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p{
  color: #8f8f8f;
  font-weight: lighter;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.big-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

.navbar{
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat"
}

.download-btn{
  margin: 5% 2% 5%;
}

.download-btn-ft{
  margin: 2% 1% 0 1%;
}

.container-fluid{
  padding: 7% 15%;
}

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: #fff;
}

.title-picture{
  transform: rotate(25deg);
  width: 50%;
  margin: 0 0 0 10%;
  position: absolute;
  right: 30%;
}

.icon{
  margin-bottom: 1.1rem;
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 5%;
}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

#features{
  position: relative;
  z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  padding-top: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 20px 50px;
}

/* .carousel-indicators{
  bottom: -50px;
} */

.price-card{
    padding: 3% 2%;
}

#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.social-icon{
  margin: 20px 10px;
}

.pricing-head{
  margin: 0 0 0 0;
}

#cta{
  padding: 5% 0 5% 0
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-picture{
    position: static;
    transform: rotate(0);
  }
}
